.goog-te-banner-frame {
    display: none !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    height: 0;
    visibility: hidden;
    margin-left: 74%;
}

.goog-te-combo {
    visibility: visible;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    visibility: hidden;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    height: 0;
}
  
.translated-ltr {
    height: 0;
    margin-top: -40px;
}

#google_translate_element select {
    border: none;
    outline: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .goog-te-gadget {
        height: 0;
        visibility: hidden;
        margin-left: 0;
        padding-bottom: 100px;
    }

    #google_translate_element select {
        width: 65%;
    }
}